<div class="navbar-collapse collapse" id="navbar-home">
                <ul class="nav navbar-nav">
                          <li><a ui-sref="issueLicenses">Issue License</a></li>
                          <li><a ui-sref="transferLicense">Transfer License</a></li>
                          <li><a ui-sref="taskList">My Task List</a></li>
<!--                           <li><a ui-sref="#">View All Issued Licenses</a></li> -->
                          <li><a ui-sref="addSoftware">Add Software</a></li>

                 </ul>
                 <ul class="nav navbar-nav navbar-right">
			        <li><a href="" ng-click="logout()">Logout</a></li>

                </ul>
        </div>