<h3>My Tasks</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Software Name</th>
        <th>Usage End Date</th>
        <th>Requestor</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="request in reviewTaskData | filter:filterPendingRequest">
        <td>{{request.software}}</td>
        <td>{{request.requestEndDate}}</td>
        <td>{{request.username}}</td>
        <td><button type="button" class="btn btn-success" ng-click="processTransfer(request)" 
            ng-controller="processTransferCtrl">Process</button></td>
        <td><button type="button" class="btn btn-danger">Reject</button></td>
    </tr>
    </tbody>
</table>