<script type="text/ng-template" id="error-messages">
    <div ng-message="compareTo" class="messages">Must match the previous entry</div>
</script>


    <table class="table table-striped">
    <thead>
      <tr>
        <th>Software Name</th>
        <th>Company</th>
          <th>Expiry Date</th>
          <th>Version</th>
          <th>License Key</th>  
          <th>Transfer To</th>
      </tr>
    </thead>
      <tbody>
          <tr ng-repeat="asset in assetsData">
                <td>{{asset.metadataOfIssuence.data.assetName}}</td>
                <td>{{asset.metadataOfIssuence.data.companyName}}</td>
                <td>{{asset.metadataOfIssuence.data.expiryDate}}</td>
                <td>{{asset.metadataOfIssuence.data.version}}</td>
                <td>{{asset.metadataOfIssuence.data.key}}</td>
                <td><input type="text" name="toUserId" class="transfer" ng-model="asset.transferToUser"></td>
                <td>
                  <button type="button" class="btn btn-primary" ng-click="transferDirectLicense($index)">Transfer</button></td>
              </td>
          </tr>

      </tbody>
    </form>
</table> 

