
<h3>My Wallet</h3>
<table class="table table-striped">
	<thead>
      <tr>
        <th>Software Name</th>
        <th>Company</th>
          <th>Expiry Date</th>
          <th>Version</th>
          <th>License Key</th>
      </tr>
    </thead>

    <tbody>
    	<tr ng-repeat="asset in assetData">
    		<td>{{asset.metadataOfIssuence.data.assetName}}</td>
    		<td>{{asset.metadataOfIssuence.data.companyName}}</td>
            <td>{{asset.metadataOfIssuence.data.expiryDate}}</td>
            <td>{{asset.metadataOfIssuence.data.version}}</td>
            <td>{{asset.metadataOfIssuence.data.key}}</td>
    	</tr>
    </tbody>
</table> 